body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Roboto;
  background-image: linear-gradient(45deg, #88d3ce 0%, #6e45e2 100%);
}

main {
  max-width: 800px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  letter-spacing: -3px;
  padding-bottom: 30px;
  border-bottom: 2px dashed white;
  color: white;
}

h1 span {
  font-style: italic;
  font-weight: 100;
}

.card {
  background-color: white;
  padding: 2%;
  padding-bottom: 10%;
  border-radius: 1%;
  transform: rotate(-.8deg);
  transition: all .2s ease-in-out;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5)
}

.card:hover {
  transform: rotate(0);
  box-shadow: 0px 10px 17px 3px rgba(0,0,0,0.5)
}

section {
  position: relative;
  background: rgb(29, 29, 29);
  padding-top: 15%;
  padding-bottom: 15%;
  border-radius: 4px;
}

section img:first-of-type {
  max-width: 600px;
  width: 80vw;
  height: auto;
}

section .framed-picture {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 12%;
  top: 52%;
  width: 28%;
  height: 25%;
  transform: rotate(-15.6deg);
  background-color: rgba(61, 61, 61, 0.829);
  overflow: hidden;
  border-radius: 4px;
}

section .framed-picture img {
  width: 100%;
}

footer {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
}

footer a {
  transition: all .15s ease-in-out;
  color: white;
  font-style: italic;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 6px;
}

footer a:hover {
  background-color: white;
  color: rgb(75, 182, 224);
}

footer a:active {
  background-color: white;
  color: rgb(75, 182, 224);
  opacity: .6;
}

@media (max-width: 500px) {

h1 {
  font-size: 45px;
  letter-spacing: -2px;
  margin-bottom: 90px;
}

.card {
  transform: rotate(0);
  pointer-events: none;
}

footer {
  margin-top: 100px;
}

footer a {
  font-size: 30px;
  padding: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

}
